.womenfw {
  float: left;
  width: 5%;
  height: 5%;
  margin-right: 15px auto;
  position: absolute;
  display: block;
}

.videog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.headd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
