.womenfw {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 15px auto;
  position: absolute;
  display: block;
}

.videog {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
